<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <title>{{meal_title}}</title>
</head>
<body>
    <h1>
        {{meal_title}}
    </h1>
    <ul class="ingredient">
        {% for name in meal_ingredients[0:] %}
        <li>{{name}}</li>
        {% endfor %}
    </ul>
</body>
</html>