<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <title>{{meal_title}}</title>
</head>
<body>
<div class="container">
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
    <div class="middle" onclick="location.href='/';">
        <h1>{{meal_title}}</h1>
    </div>
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
</div>
<div class="details-container">
    <div>
        <table class="ingredient">
            <tr>
                <th>Ingredients</th>
            </tr>
            {% for key,value in meal_ingredients.items() %}
                <tr>
                    <td>{{ value }} </td>
                    <td>{{ key }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="img">
        <img src="{{meal_image}}" alt="{{meal_title}}">
    </div>
</div>
<div class="reviews-container">
    <h2>Reviews</h2>
    <a href="/login/{{meal_id}}">
        <button class="review-button">Login</button>
    </a>
    <form method="post">
        <div class="own-review">
            <table>
                <tr>
                    <th>Hi {{name}}! Write a review and submit it by pressing on the Star with your rating!</th>
                </tr>
                <tr>
                    <td><textarea rows="4" placeholder="Write your own review" name="own-review"></textarea></td>
                </tr>
            </table>
            <div class="star_review">
                <button type="submit" name="rating" value="1"><img src="/static/images/star.png"></button>
                <button type="submit" name="rating" value="2"><img src="/static/images/star.png"></button>
                <button type="submit" name="rating" value="3"><img src="/static/images/star.png"></button>
                <button type="submit" name="rating" value="4"><img src="/static/images/star.png"></button>
                <button type="submit" name="rating" value="5"><img src="/static/images/star.png"></button>
            </div>
        </div>
    </form>
</div>
<div class="display-reviews">
    {% for review in reviews %}
    <div class="review">
        <h3>Review from {{review[0]}}</h3><br>
        <p>{{review[1]}}</p>
        <p>Rating: {{review[2]}} Stars</p>
    </div>
    {% endfor %}
</div>
</body>
</html>