<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <title>{{meal_title}}</title>
</head>
<body>
<div class="container">
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
    <div class="middle" onclick="location.href='/';">
        <h1>{{meal_title}}</h1>
    </div>
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
</div>
<div class="details-container">
    <div>
        <table class="ingredient">
            <tr>
                <th>Ingredients</th>
            </tr>
            {% for key,value in meal_ingredients.items() %}
                <tr>
                    <td>{{ value }} </td>
                    <td>{{ key }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="img">
        <img src="{{meal_image}}" alt="{{meal_title}}">
    </div>
</div>
<div class="reviews-container">
    <h2>Reviews</h2>
    <form method="post">
        <div class="own-review">
            <table>
                <tr>
                    <th>Your review</th>
                </tr>
                <tr>
                    <td><textarea rows="4" placeholder="Write your own review" name="own-review"></textarea></td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>