<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/foodoverflow_logo.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
    <div class="middle" onclick="location.href='/';">
        <h1>Welcome to Foodoverflow!</h1>
    </div>
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
</div>
<div>
    <h2>You can either choose one of 3 random receipts</h2>
    <div class="main">
        <div class="receipt" onclick="location.href='/details/{{meal1[0]}}';">
            <a href="/details/{{meal1[0]}}">
                <img src="{{meal1[2]}}" alt="{{meal1[1]}}">
            </a>
            <div class="overlay">
                <h2>{{meal1[1]}}</h2>
                <h2 class="review_star">{{meal1[3]}}<img src="/static/images/star.png" alt="star" class="star"></h2>
            </div>
        </div>
        <div class="receipt" onclick="location.href='/details/{{meal2[0]}}';">
            <a href="/details/{{meal2[0]}}">
                <img src="{{meal2[2]}}" alt="{{meal2[1]}}">
            </a>
            <div class="overlay">
                <h2>{{meal2[1]}}</h2>
                <h2 class="review_star">{{meal2[3]}}<img src="/static/images/star.png" alt="star" class="star"></h2>
            </div>
        </div>
        <div class="receipt" onclick="location.href='/details/{{meal3[0]}}';">
            <img src="{{meal3[2]}}" alt="{{meal3[1]}}">
            <div class="overlay">
                <h2>{{meal3[1]}}</h2>
                <h2 class="review_star">{{meal3[3]}}<img src="/static/images/star.png" alt="star" class="star"></h2>
            </div>
        </div>
    </div>
    <h2>Or you can search for a specific recipe</h2>
</div>
<div class="search">
    <form method="post">
        <input type="text" name="search" placeholder="Search for a recipe...">
        <select name="Filter">
            <option value="s">Name</option>
            <option value="c">Category</option>
            <option value="a">Cuisine</option>
            <option value="i">Ingredient</option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>
</body>
</html>