<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<ul class="navbar">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
</ul>
<h1>Welcome to Foodoverflow!</h1>
<div class="container">
    <div class="main">
        <div class="receipt" onclick="location.href='/details/{{meal1[0]}}';">
            <a href="/details/{{meal1[0]}}">
                <img src="{{meal1[2]}}" alt="{{meal1[1]}}">
            </a>
            <div class="overlay">
                <h2>{{meal1[1]}}</h2>
            </div>
        </div>
        <div class="receipt" onclick="location.href='/details/{{meal2[0]}}';">
            <a href="/details/{{meal2[0]}}">
                <img src="{{meal2[2]}}" alt="{{meal2[1]}}">
            </a>
            <div class="overlay">
                <h2>{{meal2[1]}}</h2>
            </div>
        </div>
        <div class="receipt" onclick="location.href='/details/{{meal3[0]}}';">
            <img src="{{meal3[2]}}" alt="{{meal3[1]}}">
            <div class="overlay">
                <h2>{{meal3[1]}}</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>