<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/foodoverflow_logo.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container">
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
    <div class="middle" onclick="location.href='/';">
        <h1>Search results:</h1>
    </div>
    <div class="left">
        <a href="/">
            <img src="/static/images/foodoverflow_logo.png" alt="logo" class="logo">
        </a>
    </div>
</div>
<div>
<div class="search-container">
    {% for meal in meals %}
    <div class="receipt" onclick="location.href='/details/{{meal[2]}}';">
            <a href="/details/{{meal[2]}}">
                <img src="{{meal[1]}}" alt="{{meal[0]}}">
            </a>

            <div class="overlay">
                <h2>{{meal[0]}}</h2>
            </div>
    </div>
    {% endfor %}
</div>
</body>
</html>