.details-container table.ingredient {
    color: white;
    text-align: left;
    padding: 0.875em 1em;
    text-decoration: none;
}

.details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

img {
    /*display: block;*/
    height: 80%;
    width: 80%;
    object-fit: contain;
    border-radius: 0.5em;
}

.details-container table {
  border-collapse: collapse;
  border: 1em solid rgb(200,200,200);
  letter-spacing: 0.05em;
  font-size: 1.3em;
}

.details-container td, th {
  border-collapse: collapse;
  border: 0.0625em solid rgb(190, 190, 190);
  padding: 0.15em 1em;
}

.details-container th {
    font-size: 2em;
}

.details-container td {
  text-align: left;
}

.details-container tr {

}

.reviews-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.own-review table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.own-review table th {
    background-color: white;
    color: black;
    margin: 0;
    border-radius: 0.5em;
}

textarea {
    resize: none;
    width: 50em;
    height: 15em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
}

button, input[type="submit"]{
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 5em;
    border: none;
    border-radius: 0.5em;
    background: #4CAF50;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.star_review {
    margin-top: -3em;
    flex: 20%;
    width: 50em;
}

.star_review button {
    background-color: white;
    border-radius: 0;
    font-size: 0.5em;
    padding: 0;
}

.display-reviews {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 33.333333 auto 33.333333%;
    align-items: center;
    justify-content: center;
}

.review {
    width: 25%;
    height: 25%;
    position: relative;
    justify-content: left;
    cursor: default;
    margin: 1em;
    background-color: white !important;
    border-radius: 0.5em;
}

.review p,h3 {
    color: #000000 !important;
    padding-left: 1em
}