.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.receipt {
    width: 25%;
    height: 25%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1em 1em 3em;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    object-fit: contain;
}

.receipt:hover .overlay {
    opacity: 1;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 0.5em;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

input[type="text"] {
    padding: 0.5em;
    width: 33.5em;
    border: none;
    font-size: 1.5em;
    border-radius: 0.5em;
    text-align: left !important;
}

input[type="submit"] {
    padding: 0.5em;
    width: 5em;
    border: none;
    border-radius: 0.5em;
    background: #4CAF50;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

select {
    padding: 0.5em;
    width: 6.5em;
    border: none;
    font-size: 1.5em;
    border-radius: 0.5em;
}

select:hover {
    cursor: pointer;
}