p {
    text-align: center;
    margin: 0.75em;
}

input[type=submit] {
    padding: 0.5em;
    width: 5em;
    border: none;
    border-radius: 0.5em;
    background: #4CAF50;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

input[type="text"] {
    padding: 0.5em;
    width: 10em;
    border: none;
    font-size: 1.5em;
    border-radius: 0.5em;
    text-align: left !important;
}
