p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 4em;
    margin: 0.5em;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
    color: #ffffff;
}

body {
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    width: 100px;
    height: 100px;
}

.left {
    cursor: pointer;
}

.right {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: space-between;
}